# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod


# Executables
*.exe
*.out
*.app

#   Logs
*.log

#   GRiNa Binary
*.rpk

#   Ignore Binary & Resource file
bin/按钮系列.zip
bin/GRiNA*
.vscode/

#   Ignore required
required/
*.png
